# Virtual Environments
venv/
env/
.venv/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment Variables
.env
.env.*

# Generated Data & Output
data/synthetic/*.csv
exports/*.csv

# dbt
dbt/target/
dbt/dbt_packages/
dbt/logs/
dbt/profiles.yml

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# MacOS
.DS_Store
.AppleDouble
.LSOverride
